/* ---------------- LOGIN / REGISTER ---------------- */

body{
    margin: 0;
}
.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gray;
}

.auth-box {
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 2rem;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    text-align: center;
}

.auth-box h1 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: #000;
}

.auth-box form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.auth-box input {
    height: 3rem;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, .6);
    font-size: 14px;
    padding: 0 1rem;
    background: rgba(255,255,255,.6);
}

.auth-box button {
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.auth-box button:hover {
    background: rgba(0, 0, 0, .6);
}

.auth-box p {
    margin-top: 1rem;
    font-size: 14px;
}

.auth-box a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.auth-box a:hover {
    text-decoration: underline;
}
