*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: gray;
    margin: 0;
    position: relative;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    color: #f9f9f9;
    padding: 1rem 1.5rem;
    z-index: 2;
}

.header .title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 2s infinite alternate;
}

/* Effet lumineux */
@keyframes glow {
    from {
        text-shadow: 0 0 5px #ff8c00, 0 0 10px #ff0080;
    }
    to {
        text-shadow: 0 0 15px #ff8c00, 0 0 30px #ff0080;
    }
}
.header .logout{
    color: #fff;
    border: none;
    background: transparent;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 97%;
    border: 1px solid #000;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(15px);
    margin: 8rem 0 0;
    gap: 1rem;
}
.expense-management{
    width: calc(1/3 * 100%);
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    height: 550px;
}
.list-container{
    width: calc(2/3 *100%);
}
form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
input{
    height: 3rem;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, .6);
    font-size: 14px;
    padding: 0 1rem;
    background: rgba(255,255,255,.6);
}
select{
    height: 3rem;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, .6);
    font-size: 14px;
    padding: 0 1rem;
    background: rgba(255,255,255,.6);
}
button{
    display: inline;
    font-size: 1rem;
    padding: 10px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px
}
button:hover{
    background: rgba(255, 255, 255, .2);
}
table{
    width: 100%;
    margin-bottom: 1rem;
}
th{
    background: black;
    color: #fff;
}
td:nth-child(4){
    text-align: right;
}
/*.table-show{
    visibility: hidden;
}
.table-show.active{
    visibility: visible;
}*/
.daily-expense{
    display: none;
}
.daily-expense.active{
    display: block;
}

/* ---------------------- */
ul{
    flex-direction: column;
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: .5s;
    margin-top: 2rem;
}
ul li{
    margin: 10px 0;
}
ul li a{
    text-transform: uppercase;
}
ul.active{
    transform: translateX(0);
    transition: 1000ms;
}

.button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    visibility: hidden;
    margin-top: 5rem;
}
.button.active{
    visibility: visible;
}
.button::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    box-shadow: 0 10px 0 #000;
    transform: rotate(45deg);
    transition: .5s;
    box-shadow: 0 0 0 #000;
}
.button::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    transition: .5s;
}
/* --------------------------- */

/* Tablette */
@media screen and (max-width: 1024px) {
    .header{
        height: 120px;
    }
    .container {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        margin: 12rem 0 0;
    }
    button{
        font-size: 30px;
        padding: 25px;
    }
    .btn-submit{
        font-size: 30px;
        padding: 25px;
    }
    ul li button{
        font-size: 30px;
        padding: 25px;
    }
    .button{
        margin-top: 10rem;
    }
    .button::before{
        width: 60px;
    }
    .button::after{
        width: 60px;
    }
    ul li h2{
        font-size: 45px;
    }
    input{
        height: 6rem;
        font-size: 30px;
    }
    select{
        height: 6rem;
    }
    .expense-management,
    .list-container {
        width: 90%;
    }
    .expense-management{
        font-size: 18px;
        height: 100%;
    }
    .expense-management h1{
        font-size: 4rem;
    }
    body{
        height: 100%;
    }
    table{
        font-size: 25px;
        width: 100%;
    }
    th{
        padding: 20px;
        font-size: 25px;
    }
}
