<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Expenses Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <div class="title">Build by Strong</div>
        <div class="right">
            <a href="{{ url_for('logout') }}">
                <button class="logout"> <-Logout</button>
            </a>
        </div>
    </header>
    <div class="container">
        <div class="expense-management">
            <h1>Expenses Management</h1>
            <form method="POST">
                <input type="text" name="description" placeholder="Description">
                <select name="categorie">
                    <option value="">--</option>
                    <option value="food">Food</option>
                    <option value="tp">Transport</option>
                    <option value="epargne">Epargne</option>
                    <option value="loisirs">Loisirs</option>
                    <option value="school">School</option>
                    <option value="imprevus">Imprévus</option>
                </select>
                <input type="number" name="montant" placeholder="Montant">
                <input type="date" name="date" placeholder="Date">
                <button class="btn-submit">Ajouter</button>
            </form>
        </div>
        <div class="list-container">
            <table border="1px" cellpadding="10px">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Catégorie</th>
                        <th>Montant</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="liste"></tbody>
            </table>
            <div class="daily-expense">
                <h2>Bilan Journalier</h2>
                <table border="1px" cellpadding="10px">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Montant</th>
                        </tr>
                    </thead>
                    <tbody id="sum">

                    </tbody>
                </table>
            </div>
            <!--Button pour afficher les dépenses en fonction de la date-->
            <button class="btn-show" id="btnShow_expense">Afficher</button>
        </div>
    </div>
    <div class="button"></div>
    <ul class="menu">
        <li><h2>BILAN</h2></li>
        <li><button class="daily">Journalier</button></li>
        <li><button class="hebdo">Hebdomadaire</button></li>
        <li><button class="mensuel">Mensuel</button></li>
        <li><button class="annuel">Annuel</button></li>
    </ul>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
